<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>선수 스탯 시각화</title>
    <!-- Select2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>선수 스탯 시각화</h1>
    <form action="/plot" method="post">
        <label for="player">선수 선택:</label>
        <select name="player" id="player" class="select2">
            {% for player in players_teams %}
                <option value="{{ player.player_name }} ({{ player.team }})">{{ player.player_name }} ({{ player.team }})</option>
            {% endfor %}
        </select>
        <button type="submit">그래프 생성</button>
    </form>
    {% if player_info %}
        <h2>{{ selected_player }}의 2024년 데이터</h2>
        <table>
            <tr>
                <th>나이</th>
                <th>팀</th>
                <th>타율</th>
                <th>출루율</th>
                <th>장타율</th>
                <th>wOBA</th>
            </tr>
            <tr>
                <td>{{ player_info.age }}</td>
                <td>{{ player_info.team }}</td>
                <td>{{ player_info.batting_avg }}</td>
                <td>{{ player_info.onbase_perc }}</td>
                <td>{{ player_info.slugging_perc }}</td>
                <td>{{ player_info.wOBA }}</td>
            </tr>
        </table>
    {% endif %}

    <h2>선수 스탯 그래프</h2>
    {% if plot_url %}
        <img src="{{ plot_url }}" alt="선수 스탯 그래프">
    {% endif %}
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.select2').select2({
                placeholder: "선수를 선택하세요",
                allowClear: true
            });
        });
    </script>
</body>
</html>